body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/19/a3/55/19a355e93f78b9f1d7687c2aebf212f3.jpg");
  color: white;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: left;
}

a {
    color: #000;
}

a:hover {
    color: #209aca;
}

ol {
    list-style-type: none;
    padding: 20px 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

ol li {
    padding-bottom: 15px;
}

.btn.btn-primary, .btn.btn-danger {
    margin-top: 20px;
}

.btn.btn-default {
    margin-top: 50px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: black;
}
